# Jupyter-related
.ipynb_checkpoints/
.ipython/
.jupyter/

# Python bytecode & caches
__pycache__/
.cache/

# Editor / IDE settings
.vscode/

# Logs and runtime output
log

# User-level config directories
.config/

# Project-specific data
/datawf/
